* {
    padding: 0;
    margin: 0;
    border: 0;
}

/*DESKTOP CSS*/

@media screen and (min-width: 1180px) {
    #grid-container {
        /* width: 100%; */
        display: grid;

        grid-template-areas:
            'headerTag  headerTag   headerTag'
            'navTag navTag  navTag'
            'videoTag   videoTag    videoTag'
            'newyorkTag newyorkTag  asideTag'
            'losangelesTag losangelesTag  asideTag'
            'sanfranciscoTag sanfranciscoTag  asideTag'
            'footerTag  footerTag   cookieTag';
    }

    aside {
        background-color: #ffff66;
        width: 25em;
        padding: 50px;
        float: left;

        grid-area: asideTag;
    }

    .articleImage {
        width: 200px;
        float: right;
        clear: both;
        position: relative;
        top: -120px;
    }

    .articleParagraph {
        width: 50%;
    }

    article {
        padding: 25px;
    }

    figure>figcaption {
        float: right;
        clear: both;
    }
}



/*TABLET CSS*/
@media (min-width: 481px) and (max-width: 1179px) {

    #five-reasons {
        grid-area: fiveReasonsTag;
    }

    #grid-container {
        grid-template-areas:
            'headerTag  headerTag   headerTag'
            'navTag navTag  navTag'
            'fiveReasonsTag   fiveReasonsTag    fiveReasonsTag'
            'videoTag   videoTag    videoTag'
            'sanfranciscoTag sanfranciscoTag  sanfranciscoTag'
            'losangelesTag losangelesTag  losangelesTag'
            'newyorkTag newyorkTag  newyorkTag'
            'footerTag  footerTag   cookieTag';
    }


    .articleImage {
        width: 50%;
    }





}

/*MOBILE CSS*/
@media (max-width: 480px) {

    #grid-container {
        /* width: 100px; */

        grid-template-areas:
            'headerTag  headerTag   navTag'
            'asidetag   asideTag    asideTag'
            'videoTag   videoTag    videoTag'
            'sanfranciscoTag sanfranciscoTag  sanfranciscoTag'
            'losangelesTag losangelesTag  losangelesTag'
            'newyorkTag newyorkTag  newyorkTag'
            'footerTag  footerTag   cookieTag';
    }

    .articleImage {
        width: 200px;
    }

    article {
        padding: 20px;
    }

    aside {
        background-color: #ffff66;
        /* width: 25em; */
        /* padding: 50px; */
        float: left;

        grid-area: asideTag;
    }

    #logo {
        display: none;
    }

}


aside {
    background-color: #ffff66;
    /* width: 25em; */
    /* padding: 50px; */
    /* float: left; */

    grid-area: asideTag;
}



header {
    background-color: #808080;
    grid-area: headerTag;
}

#hamnav {
    background-color: #0066cc;
    grid-area: navTag;
}

#videoSection {
    background-color: #ff9966;
    grid-area: videoTag;
}

#articleNewYork {
    background-color: #99ffcc;
    grid-area: newyorkTag;
}

#articleLosAngeles {
    background-color: #99ff99;
    grid-area: losangelesTag;
}

#articleSanFrancisco {
    background-color: #99ff66;
    grid-area: sanfranciscoTag;
}

footer {
    background-color: #6699ff;
    grid-area: footerTag;
}

#cookieStatement {
    background-color: #ff6600;
    grid-area: cookieTag;
}

#logo {
    width: 100px;
}

#mobile-nav {
    grid-area: mobileNavTag;
}

aside {
    background-color: #ffff66;
    grid-area: asideTag;
}













/*HAMBURGER MENU*/
/* DESKTOP */
#hamnav {
    width: 100%;
    background: #000;
}

#hamitems {
    display: flex;
}

#hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
}

#hamitems a:hover {
    background: #401408;
}

#hamnav label,
#hamburger {
    display: none;
}

/* SMALL SCREENS */
@media screen and (max-width: 480px) {

    #hamitems a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 1px solid #333;
    }

    #hamnav label {
        display: inline-block;
        color: white;
        background: #a02620;
        font-style: normal;
        font-size: 1.6em;
        padding: 10px;
        /* float:; */
    }

    #hamitems {
        display: none;
    }

    #hamnav input:checked~#hamitems {
        display: block;
    }
}