* {
    padding: 0;
    margin: 0;
    border: 0;
}

/*grid*/

#grid-container {
    width: 100%;
    display: grid;

    grid-template-areas:
        'headerTag  headerTag   headerTag'
        'navTag navTag  navTag'
        'videoTag   videoTag    videoTag'
        'newyorkTag newyorkTag  asideTag'
        'losangelesTag losangelesTag  asideTag'
        'sanfranciscoTag sanfranciscoTag  asideTag'
        'footerTag  footerTag   cookieTag';
}

/*DESKTOP CSS*/
@media (min-width: 1180px) {
    .articleImage {
        width: 200px;
        float: right;
        clear: both;
        position: relative;
        top: -120px;
    }

    .articleParagraph {
        width: 50%;
    }

}




/*tablet*/
@media (min-width: 481px) and (max-width: 1179px) {

    #grid-container {
        grid-template-areas:
            'headerTag  headerTag   headerTag'
            'navTag navTag  navTag'
            'asidetag   asideTag    asideTag'
            'videoTag   videoTag    videoTag'
            'sanfranciscoTag sanfranciscoTag  sanfranciscoTag'
            'losangelesTag losangelesTag  losangelesTag'
            'newyorkTag newyorkTag  newyorkTag'
            'footerTag  footerTag   cookieTag';
    }

    .articleImage {
        width: 200px;
        float: left;
        clear: both;
        position: relative;
        top: -120px;
    }

    .articleParagraph {
        width: 50%;
        float: rightd;

    }

}

/*mobile*/
@media (max-width: 480px) {
    #logo {
        display: none;
    }



    #grid-container {
        grid-template-areas:
            'headerTag  headerTag   navTag'
            'asidetag   asideTag    asideTag'
            'videoTag   videoTag    videoTag'
            'sanfranciscoTag sanfranciscoTag  sanfranciscoTag'
            'losangelesTag losangelesTag  losangelesTag'
            'newyorkTag newyorkTag  newyorkTag'
            'footerTag  footerTag   cookieTag';
    }

}





header {
    background-color: #808080;

    grid-area: headerTag;
}

nav {
    background-color: #0066cc;

    grid-area: navTag;
}

#videoSection {
    background-color: #ff9966;

    grid-area: videoTag;
}

#articleNewYork {
    background-color: #99ffcc;

    grid-area: newyorkTag;
}

#articleLosAngeles {
    background-color: #99ff99;

    grid-area: losangelesTag;
}

#articleSanFrancisco {
    background-color: #99ff66;

    grid-area: sanfranciscoTag;
}

aside {
    background-color: #ffff66;
    width: 25em;
    padding: 50px;
    float: left;

    grid-area: asideTag;
}

footer {
    background-color: #6699ff;

    grid-area: footerTag;
}

#cookieStatement {
    background-color: #ff6600;


    grid-area: cookieTag;
}

#logo {
    width: 100px;
}

#mobile-nav {
    grid-area: mobileNavTag;
}



article {
    padding: 50px;
}

/* 
.articleImage {
    width: 200px;
    float: right;
    clear: both;
    position: relative;
    top: -120px;
}

.articleParagraph {
    width: 50%;
} */





/* [ON BIG SCREEN] */
/* (A) WRAPPER */
#hamnav {
    width: 100%;
    background: #000;
}

/* (B) HORIZONTAL MENU ITEMS */
#hamitems {
    display: flex;
}

#hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
}

#hamitems a:hover {
    background: #401408;
}

/* (C) HIDE HAMBURGER */
#hamnav label,
#hamburger {
    display: none;
}



/* [ON SMALL SCREENS] */
@media screen and (max-width: 480px) {

    /* (A) BREAK INTO VERTICAL MENU */
    #hamitems a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 1px solid #333;
    }

    /* (B) SHOW HAMBURGER ICON */
    #hamnav label {
        display: inline-block;
        color: white;
        background: #a02620;
        font-style: normal;
        font-size: 1.6em;
        padding: 10px;
        float: right;
    }

    /* (C) TOGGLE SHOW/HIDE MENU */
    #hamitems {
        display: none;
    }

    #hamnav input:checked~#hamitems {
        display: block;
    }
}