@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

/*--------------------HAMBURGER MENU--------------------*/

/* DESKTOP */
#hamnav {
    width: 100%;
    background: #0066cc;
}

.menuListItems {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;

}

#hamitems {
    display: flex;
    height: 50px;
}

#hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .05em;
    line-height: 1em;
    text-indent: 5px;
    font-family: 'Notable', sans-serif;
}

#hamitems a:hover {
    background: red;
}



/*HIDE HAMBURGER*/
#hamnav label,
#hamburger {
    display: none;
}

/* HAMBURGER MENU MOBILE */
@media screen and (max-width: 480px) {
    #hamitems a {
        box-sizing: border-box;
        display: block;
        width: 50%;
        border-top: 1px solid #333;
    }

    .menuListItems {
        list-style: none;
        display: block;

    }

    .menuListItems li {
        font-size: 11px;
    }

    #hamnav label {
        display: inline-block;
        color: white;
        background: #0066cc;
        font-style: normal;
        font-size: 1.6em;
        padding: 10px;
    }

    #hamitems {
        display: none;
        height: auto;
    }

    #hamnav input:checked~#hamitems {
        display: block;
    }
}


/**/

/* DESKTOP */
#hamnav-index {
    width: 100%;
    background: #0066cc;
}

#hamitems {
    display: flex;
}

#hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .05em;
    line-height: 1em;
    text-indent: 5px;
    font-family: 'Notable', sans-serif;
}

#hamitems a:hover {
    background: red;
}



/*HIDE HAMBURGER*/
#hamnav-index label,
#hamburger {
    display: none;
}

/* HAMBURGER MENU MOBILE */
@media screen and (max-width: 480px) {
    #hamitems a {
        box-sizing: border-box;
        display: block;
        width: 50%;
        border-top: 1px solid #333;
    }

    #hamnav-index label {
        display: inline-block;
        color: white;
        background: #0066cc;
        font-style: normal;
        font-size: 1.6em;
        padding: 10px;
    }

    #hamitems {
        display: none;
    }

    #hamnav-index input:checked~#hamitems {
        display: block;
    }
}


/*--------------------INDEX.HTML--------------------*/

/*Colors and grid tag's*/
header {
    background-color: #808080;

    grid-area: headerTag;
}

nav {
    background-color: #0066cc;

    grid-area: navTag;
}

#videoSection {
    background-color: #ff9966;
}

#articleNewYork {
    background-color: #99ffcc;
}

#articleLosAngeles {
    background-color: #99ff99;
}

#articleSanFrancisco {
    background-color: #99ff66;
}

#index-aside {
    background-color: #ffff66;
}

.footer {
    background-color: #6699ff;

    grid-area: footerTag;
}

#logo {
    width: 100px;
}

article {
    padding: 50px;
}

#destination-1 {
    background-color: #ffe96f;
    grid-area: destination-1Tag;
}

#destination-2 {
    background-color: #99ff66;
    grid-area: destination-2Tag;
}

#destination-3 {
    background-color: #278dec;
    grid-area: destination-3Tag;
}

#destination-4 {
    background-color: #2f790a;
    grid-area: destination-4Tag;
}

#destination-5 {
    background-color: #74c04f;
    grid-area: destination-5Tag;
}

#destination-6 {
    background-color: #e0cd5f;
    grid-area: destination-6Tag;
}

#product-1 {
    width: 40%;
    background-color: #808080;
    grid-area: product1Tag;
}

#product-2 {
    width: 30%;
    background-color: #6e6e6e;
    grid-area: product2Tag;
}

#product-3 {
    width: 30%;
    background-color: #444444;
    grid-area: product3Tag;
}

#best-aside {
    grid-area: best-asideTag;
}

#article-ticket {
    background-color: #f3ec25;
    grid-area: ticketInfoTag;
}

#ticket-section {
    background-color: #25c3f3;
    grid-area: ticketTag;
}

#tickets-aside {
    background-color: #747474;
    grid-area: ticketAsideTag;
}

#copyright {
    grid-area: copyrightTag;
    background-color: red;
}

#contact-information {
    background-color: yellow;
    grid-area: contactInfoTag;
}

#contact-section {
    background-color: rgb(24, 64, 89);
    grid-area: formTag;
}

#contact-aside {
    background-color: #464444;
    grid-area: contactAsideTag;
}


.articleHeader {
    background-color: transparent;
}

.articleFooter {
    position: relative;
}




/*INDEX DESKTOP GRID*/
/*#grid-container {
    width: 100%;
    display: grid;

    grid-template-areas:
        'headerTag  headerTag   headerTag'
        'navTag navTag  navTag'
        'videoTag   videoTag    videoTag'
        'newyorkTag newyorkTag  asideTag'
        'losangelesTag losangelesTag  asideTag'
        'sanfranciscoTag sanfranciscoTag  asideTag'
        'footerTag  footerTag   cookieTag';
}*/

/*BEST-DESTIONATIONS GRID*/
#grid-container-best-destination {
    width: 100%;
    display: grid;

    grid-template-columns: 40% 30% 30%;

    grid-template-areas:
        'headerTag          headerTag        headerTag'
        'navTag             navTag           navTag'
        'destination-2Tag   destination-1Tag destination-3Tag'
        'destination-2Tag   destination-1Tag destination-3Tag'
        'destination-2Tag   destination-1Tag destination-3Tag'
        'destination-2Tag   destination-1Tag destination-4Tag'
        'destination-5Tag   destination-1Tag destination-4Tag'
        'destination-5Tag   destination-1Tag destination-4Tag'
        'destination-5Tag   destination-6Tag destination-6Tag'
        'best-asideTag      best-asideTag    best-asideTag'
        'footerTag          footerTag        cookieTag'

    ;
}

/*TICKETS GRID*/
#grid-container-tickets {
    width: 100%;
    display: grid;

    grid-template-columns: 40% 30% 30%;

    grid-template-areas:
        'headerTag          headerTag        headerTag'
        'navTag             navTag           navTag'
        'ticketInfoTag      ticketInfoTag    ticketInfoTag'
        'ticketTag          ticketTag        ticketAsideTag'
        'copyrightTag       copyrightTag     ticketAsideTag'
        'footerTag          footerTag        cookieTag'



    ;
}


/*CONTACT GRID*/
#grid-container-contact {
    width: 100%;
    display: grid;

    grid-template-columns: 40% 30% 30%;

    grid-template-areas:
        'headerTag          headerTag        headerTag'
        'navTag             navTag           navTag'
        'contactInfoTag     contactInfoTag   contactInfoTag'
        'formTag            formTag          contactAsideTag'
        'footerTag          footerTag        cookieTag'



    ;
}








/*DESKTOP CSS*/
@media (min-width: 1180px) {

    /*--------------------INDEX--------------------*/

    #flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-shrink: 1;

    }

    #index-header {
        flex-basis: 100%;
        order: 1;
    }

    #hamnav-index {
        order: 2;
    }

    #videoSection {
        flex-basis: 100%;
        order: 3;

    }

    #articleNewYork,
    #articleLosAngeles,
    #articleSanFrancisco {
        /* order: 1; */
        flex-grow: 0;
        flex-basis: 60%;
    }

    #articleNewYork {
        order: 4;
    }

    #articleLosAngeles {
        order: 6;
    }

    #articleSanFrancisco {
        order: 7;
    }

    #index-aside {
        order: 5;
        background-color: #ffff66;
        padding: 50px;
        flex-basis: 20%;
        flex-grow: 0;
        flex-shrink: 0;


    }

    #index-body {
        background-color: #ffff66;
    }


    #cookieStatement {
        background-color: #ff6600;
        position: fixed;
        right: 0;
        bottom: 0;
        flex-basis: auto;
        color: #FFF;
        background-color: #FA0;
        opacity: 50%;
        z-index: 9999;
    }


    #index-footer {
        /* flex-basis: 60.2%; */
        flex-basis: 65.2%;
        order: 9;
    }

    .articleImage {
        width: 200px;
        float: right;
        clear: both;
        position: relative;
        top: -120px;
    }

    .articleParagraph {
        width: 50%;
        word-spacing: .2rem;
    }

    #index-aside {
        background-color: #ffff66;
        width: 25em;
        padding: 50px;
        float: left;

        grid-area: asideTag;
    }

    video {
        width: 320px;
        height: 240px;
    }

    figure>figcaption {
        float: right;
        clear: both;
    }


    /*--------------------BEST DESTIONATIONS--------------------*/
    .product-image {
        width: 200px;
    }

    #best-aside {
        /* padding: 20px; */
        display: flex;
    }

    #product-1,
    #product-2,
    #product-3 {
        padding: 50px;
    }

    #product-1 {
        width: 40%;
    }

    #product-2 {
        width: 30%;
    }

    #product-3 {
        width: 30%;
    }

    #cookieStatement-best {
        background-color: #ff6600;
        position: fixed;
        right: 0;
        bottom: 0;
        width: 30%;
        color: #FFF;
        background-color: #FA0;
        opacity: 50%;
        z-index: 9999;


        grid-area: cookieTag;



    }



    /*--------------------TICKETS--------------------*/
    #cookieStatement-tickets {
        background-color: #ff6600;
        position: fixed;
        right: 0;
        bottom: 0;
        width: 30%;
        color: #FFF;
        background-color: #FA0;
        opacity: 50%;
        z-index: 9999;


        grid-area: cookieTag;

    }

    #grid-container-tickets {
        grid-template-rows: auto auto auto 80vh auto auto;
    }

    #tickets-aside {
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    #ticket-section {
        padding: 50px;
    }


    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;

    }


    /*--------------------CONTACT--------------------*/
    #grid-container-contact {
        grid-template-rows: auto auto auto 1000px auto;
    }


    fieldset {
        background-color: red;
        border-radius: 100px;
        padding: 100px;
    }

    legend {
        background-color: green;
        color: white;
        padding: 5px 10px;
    }

    input {
        margin: 5px;
    }


    /*Contact styling*/
    input[type=text],
    input[type=email],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: #aa04aa;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #c2c505;
    }

    #contact-section {
        border-radius: 5px;
        background-color: purple;
        padding: 200px;
    }

    #cookieStatement-contact {
        background-color: #ff6600;
        position: fixed;
        right: 0;
        bottom: 0;
        width: 30%;
        color: #FFF;
        background-color: #FA0;
        opacity: 50%;
        z-index: 9999;


        grid-area: cookieTag;

    }

    #contact-aside {
        padding: 50px;
    }

    #contact-information {
        padding: 20px;
        padding-left: 100px;
    }

}






/*TABLET*/
@media screen and (min-width: 481px) and (max-width: 1179px) {

    /*--------------------INDEX--------------------*/

    /*
    #grid-container {
        grid-template-areas:
            'headerTag  headerTag   headerTag'
            'navTag navTag  navTag'
            'asidetag   asideTag    asideTag'
            'videoTag   videoTag    videoTag'
            'sanfranciscoTag sanfranciscoTag  sanfranciscoTag'
            'losangelesTag losangelesTag  losangelesTag'
            'newyorkTag newyorkTag  newyorkTag'
            'footerTag  footerTag   cookieTag';
    }
*/

    #flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-shrink: 1;

    }

    #index-header {
        flex-basis: 100%;
        order: 1;
    }

    #hamnav-index {
        order: 2;
    }

    #videoSection {
        flex-basis: 100%;
        order: 4;

    }

    #articleNewYork,
    #articleLosAngeles,
    #articleSanFrancisco {
        /* order: 1; */
        flex-grow: 0;
        flex-basis: 100%;
    }

    #articleNewYork {
        order: 7;
    }

    #articleLosAngeles {
        order: 6;
    }

    #articleSanFrancisco {
        order: 5;
    }

    #index-aside {
        order: 3;
        background-color: #ffff66;
        padding: 50px;
        flex-basis: fill;
        flex-grow: 0;


    }

    #index-body {
        background-color: #ffff66;
    }


    #cookieStatement {
        background-color: #ff6600;
        position: fixed;
        right: 0;
        bottom: 0;
        flex-basis: auto;
        color: #FFF;
        background-color: #FA0;
        opacity: 50%;
        z-index: 9999;
    }


    #index-footer {
        flex-basis: 70%;
        order: 9;
    }

    aside {
        width: 100vw;
    }

    .articleImage {
        width: 200px;
        float: left;
        clear: both;
        position: relative;
        top: -120px;
    }

    .articleParagraph {
        width: 50%;
        float: right;
    }

    video {
        width: 320px;
        height: 240px;
    }

    figure>figcaption {
        float: left;
        clear: both;
    }



    /*--------------------BEST DESTIONATIONS--------------------*/
    /*BEST-DESTIONATIONS GRID*/
    #grid-container-best-destination {
        width: 100%;
        display: grid;

        grid-template-columns: 50% 50%;

        grid-template-areas:
            'headerTag          headerTag'
            'navTag             navTag'
            'destination-1Tag   destination-2Tag'
            'destination-1Tag   destination-2Tag'
            'destination-3Tag   destination-2Tag'
            'destination-3Tag   destination-2Tag'
            'destination-3Tag   destination-5Tag'
            'destination-3Tag   destination-5Tag'
            'destination-6Tag   destination-6Tag'
            'destination-6Tag   destination-6Tag'
            'best-asideTag   best-aisdeTag'
            'footerTag   cookieTag'


        ;
    }

    #destination-4,
    #product-3 {
        display: none;
    }

    .product-image {
        width: 150px;
    }

    #best-aside {
        /* padding: 20px; */
        display: flex;
    }

    #product-1,
    #product-2 {
        padding: 20px;
    }

    #product-1 {
        width: 50%;
    }

    #product-2 {
        width: 50%;
    }

    #cookieStatement-best {
        background-color: #ff6600;
        position: fixed;
        right: 0;
        bottom: 0;
        width: 50%;
        color: #FFF;
        background-color: #FA0;
        opacity: 50%;
        z-index: 9999;
    }


    /*--------------------TICKETS--------------------*/
    /*BEST-DESTIONATIONS GRID*/
    #article-ticket {
        background-color: #f3ec25;
        grid-area: ticketInfoTag;
    }

    #ticket-section {
        background-color: #25c3f3;
        grid-area: ticketTag;
        padding: 50px;
        border: solid;
        border-style: double;
        border-width: 10px;
        border-color: purple;
    }

    #tickets-aside {
        background-color: #747474;
        grid-area: ticketAsideTag;
        padding: 20px;
    }

    #product-section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #copyright {
        grid-area: copyrightTag;
        background-color: red;
    }

    #product-curacao {
        display: none;
    }

    #grid-container-tickets {
        width: 100%;
        display: grid;

        grid-template-columns: 50% 50%;

        grid-template-areas:
            'headerTag          headerTag'
            'navTag             navTag'
            'ticketInfoTag      ticketInfoTag'
            'ticketTag          ticketTag'
            'copyrightTag       copyrightTag'
            'ticketAsideTag     ticketAsideTag'
            'footerTag          cookieTag'


        ;
    }

    #cookieStatement-tickets {
        background-color: #ff6600;
        position: fixed;
        right: 0;
        bottom: 0;
        width: 50%;
        color: #FFF;
        background-color: #FA0;
        opacity: 50%;
        z-index: 9999;


        grid-area: cookieTag;

    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;

    }

    th:first-child {
        color: #FF0;
    }

    /*--------------------CONTACT--------------------*/
    #grid-container-contact {
        width: 100%;
        display: grid;

        grid-template-columns: 65% 35%;
        grid-template-rows: auto auto auto 100% auto;

        grid-template-areas:
            'headerTag          headerTag'
            'navTag             navTag'
            'contactInfoTag      contactInfoTag'
            'formTag          contactAsideTag'
            'footerTag          cookieTag'
        ;
    }

    fieldset {
        background-color: red;
        border-radius: 100px;
        padding: 100px;
    }

    legend {
        background-color: green;
        color: white;
        padding: 5px 10px;
    }

    input {
        margin: 5px;
    }


    /*Contact styling*/
    input[type=text],
    input[type=email],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: #aa04aa;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #c2c505;
    }

    #contact-section {
        border-radius: 5px;
        background-color: purple;
        padding: 50px;
    }



    #product-section-contact {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #contact-aside {
        padding: 20px;
        width: 100%;
    }

    html,
    body {
        overflow-x: hidden;
    }

    body {
        position: relative
    }

    #cookieStatement-contact {
        background-color: #ff6600;
        position: fixed;
        right: 0;
        bottom: 0;
        width: 35%;
        color: #FFF;
        background-color: #FA0;
        opacity: 50%;
        z-index: 9999;


        grid-area: cookieTag;

    }

    #contact-information {
        padding: 50px;
    }



}






/*MOBILE*/
@media screen and (max-width: 480px) {

    html,
    body {
        overflow-x: hidden;
    }

    body {
        position: relative
    }

    #logo {
        display: none;
    }


    /*INDEX*/

    /*
    #grid-container {
        grid-template-areas:
            'headerTag  headerTag   hamnavTag'
            'asidetag   asideTag    asideTag'
            'videoTag   videoTag    videoTag'
            'sanfranciscoTag sanfranciscoTag  sanfranciscoTag'
            'losangelesTag losangelesTag  losangelesTag'
            'newyorkTag newyorkTag  newyorkTag'
            'footerTag  footerTag   cookieTag';
    }*/


    #flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-shrink: 1;

    }

    #index-header {
        flex-basis: 65%;
        order: 1;
    }

    #hamnav-index {
        flex-basis: 35%;
        order: 2;
        width: 20%;

    }

    #videoSection {
        flex-basis: 100%;
        order: 4;

    }

    #articleNewYork,
    #articleLosAngeles,
    #articleSanFrancisco {
        /* order: 1; */
        flex-grow: 0;
        flex-basis: 100%;
    }

    #articleNewYork {
        order: 7;
    }

    #articleLosAngeles {
        order: 6;
    }

    #articleSanFrancisco {
        order: 5;
    }

    #index-aside {
        order: 3;
        background-color: #ffff66;
        padding: 50px;
        flex-basis: fill;
        flex-grow: 0;


    }

    #index-body {
        background-color: #ffff66;
    }


    #cookieStatement {
        background-color: #ff6600;
        position: fixed;
        right: 0;
        bottom: 0;
        flex-basis: auto;
        color: #FFF;
        background-color: #FA0;
        opacity: 50%;
        z-index: 9999;
    }


    #index-footer {
        flex-basis: 60%;
        order: 9;
    }

    video {
        display: none;
    }

    .articleImage {
        width: 200px;
        position: relative;
        margin: 50px;
    }

    .articleParagraph {
        width: 100%;
    }

    aside {
        width: 100%;
    }


    /*--------------------BEST DESTINATIONS--------------------*/

    /*BEST-DESTIONATIONS GRID*/

    #hamnav {
        grid-area: hamnavTag;
    }

    #destination-5 {
        grid-area: destination5Tag;
    }

    #destination-3 {
        grid-area: destination3Tag;
    }

    #destination-2 {
        grid-area: destination2Tag;
    }

    #destination-1 {
        grid-area: destination1Tag;
    }

    #product-1 {
        grid-area: product1Tag;
    }

    #grid-container-best-destination {

        grid-template-columns: 60% 40%;
        /* grid-template-rows: auto auto auto auto auto auto auto 10px; */

        grid-template-areas:
            'headerTag          hamnavTag'
            'destination5Tag   destination5Tag'
            'destination3Tag   destination3Tag'
            'destination2Tag   destination2Tag'
            'destination1Tag   destination1Tag'
            'best-asideTag   best-asideTag'
            'footerTag cookieTag'



        ;
    }

    .product-image {
        width: 150px;
    }

    #product-1,
    #product-2,
    #product-3 {
        padding: 20px;
    }

    #product-1 {
        width: 100%;
    }

    #product-2 {
        width: 100%;
    }

    #product-3 {
        width: 100%;
    }

    #destination-4,
    #destination-6 {
        display: none;
    }

    #cookieStatement-best {
        background-color: #ff6600;
        position: fixed;
        right: 0;
        bottom: 0;
        width: 40%;
        color: #FFF;
        background-color: #FA0;
        opacity: 50%;
        z-index: 9999;
    }


    /*--------------------TICKETS--------------------*/

    /*BEST-DESTIONATIONS GRID*/
    #article-ticket {
        background-color: #f3ec25;
        grid-area: ticketInfoTag;
        display: none;
    }

    #ticket-section {
        background-color: #25c3f3;
        grid-area: ticketTag;
    }

    #tickets-aside {
        background-color: #747474;
        grid-area: ticketAsideTag;
    }

    #product-section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    #copyright {
        grid-area: copyrightTag;
        background-color: red;
    }

    #grid-container-tickets {
        width: 100%;
        display: grid;

        grid-template-columns: 50% 50%;

        grid-template-areas:
            'headerTag          hamnavTag'
            'ticketInfoTag      ticketInfoTag'
            'ticketTag          ticketTag'
            'copyrightTag       copyrightTag'
            'ticketAsideTag     ticketAsideTag'
            'footerTag          cookieTag'


        ;
    }

    #cookieStatement-tickets {
        background-color: #ff6600;
        position: fixed;
        right: 0;
        bottom: 0;
        width: 50%;
        color: #FFF;
        background-color: #FA0;
        opacity: 50%;
        z-index: 9999;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        font-size: 10px;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 2px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;

    }

    th:first-child {
        color: #FF0;
    }

    /*--------------------CONTACT--------------------*/
    #grid-container-contact {

        grid-template-columns: 60% 40%;

        grid-template-areas:
            'headerTag          hamnavTag'
            'contactInfoTag     contactInfoTag'
            'formTag            formTag'
            'contactAsideTag   contactAsideTag'
            'footerTag cookieTag'



        ;
    }



}



#cookieStatement {
    background-color: #ff6600;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 30vw;
    color: #FFF;
    background-color: #FA0;
    opacity: 50%;
    z-index: 9999;
    grid-area: cookieTag;

}