@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

/*--------------------HAMBURGER MENU--------------------*/

/* DESKTOP */
#hamnav {
    width: 100%;
    background: #0066cc;
}

#hamitems {
    display: flex;
}

#hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .05em;
    line-height: 1em;
    text-indent: 5px;
    font-family: 'Notable', sans-serif;
}

#hamitems a:hover {
    background: red;
}



/*HIDE HAMBURGER*/
#hamnav label,
#hamburger {
    display: none;
}

/* HAMBURGER MENU MOBILE */
@media screen and (max-width: 480px) {
    #hamitems a {
        box-sizing: border-box;
        display: block;
        width: 50%;
        border-top: 1px solid #333;
    }

    #hamnav label {
        display: inline-block;
        color: white;
        background: #0066cc;
        font-style: normal;
        font-size: 1.6em;
        padding: 10px;
    }

    #hamitems {
        display: none;
    }

    #hamnav input:checked~#hamitems {
        display: block;
    }
}


/*--------------------INDEX.HTML--------------------*/

/*Colors and grid tag's*/
header {
    background-color: #808080;

    grid-area: headerTag;
}

nav {
    background-color: #0066cc;

    grid-area: navTag;
}

#videoSection {
    background-color: #ff9966;

    grid-area: videoTag;
}

#articleNewYork {
    background-color: #99ffcc;

    grid-area: newyorkTag;
}

#articleLosAngeles {
    background-color: #99ff99;

    grid-area: losangelesTag;
}

#articleSanFrancisco {
    background-color: #99ff66;

    grid-area: sanfranciscoTag;
}

#index-aside {
    background-color: #ffff66;

    grid-area: asideTag;
}

footer {
    background-color: #6699ff;

    grid-area: footerTag;
}

#logo {
    width: 100px;
}

article {
    padding: 50px;
}

#destination-1 {
    background-color: #ffe96f;
    grid-area: destination-1Tag;
}

#destination-2 {
    background-color: #99ff66;
    grid-area: destination-2Tag;
}

#destination-3 {
    background-color: #278dec;
    grid-area: destination-3Tag;
}

#destination-4 {
    background-color: #2f790a;
    grid-area: destination-4Tag;
}

#destination-5 {
    background-color: #74c04f;
    grid-area: destination-5Tag;
}

#destination-6 {
    background-color: #e0cd5f;
    grid-area: destination-6Tag;
}

#product-1 {
    width: 40%;
    background-color: #808080;
    grid-area: product1Tag;
}

#product-2 {
    width: 30%;
    background-color: #6e6e6e;
    grid-area: product2Tag;
}

#product-3 {
    width: 30%;
    background-color: #444444;
    grid-area: product3Tag;
}

#best-aside {
    grid-area: best-asideTag;
}

#article-ticket {
    background-color: #f3ec25;
    grid-area: ticketInfoTag;
}

#ticket-section {
    background-color: #25c3f3;
    grid-area: ticketTag;
}

#tickets-aside {
    background-color: #747474;
    grid-area: ticketAsideTag;
}

#copyright {
    grid-area: copyrightTag;
    background-color: red;
}


/*INDEX DESKTOP GRID*/
#grid-container {
    width: 100%;
    display: grid;

    grid-template-areas:
        'headerTag  headerTag   headerTag'
        'navTag navTag  navTag'
        'videoTag   videoTag    videoTag'
        'newyorkTag newyorkTag  asideTag'
        'losangelesTag losangelesTag  asideTag'
        'sanfranciscoTag sanfranciscoTag  asideTag'
        'footerTag  footerTag   cookieTag';
}

/*BEST-DESTIONATIONS GRID*/
#grid-container-best-destination {
    width: 100%;
    display: grid;

    grid-template-columns: 40% 30% 30%;

    grid-template-areas:
        'headerTag          headerTag        headerTag'
        'navTag             navTag           navTag'
        'destination-2Tag   destination-1Tag destination-3Tag'
        'destination-2Tag   destination-1Tag destination-3Tag'
        'destination-2Tag   destination-1Tag destination-3Tag'
        'destination-2Tag   destination-1Tag destination-4Tag'
        'destination-5Tag   destination-1Tag destination-4Tag'
        'destination-5Tag   destination-1Tag destination-4Tag'
        'destination-5Tag   destination-6Tag destination-6Tag'
        'best-asideTag      best-asideTag    best-asideTag'
        'footerTag          footerTag        cookieTag'

    ;
}

/*TICKETS GRID*/
#grid-container-tickets {
    width: 100%;
    display: grid;

    grid-template-columns: 40% 30% 30%;

    grid-template-areas:
        'headerTag          headerTag        headerTag'
        'navTag             navTag           navTag'
        'ticketInfoTag      ticketInfoTag    ticketInfoTag'
        'ticketTag          ticketTag        ticketAsideTag'
        'copyrightTag       copyrightTag     ticketAsideTag'
        'footerTag          footerTag        cookieTag'



    ;
}






/*DESKTOP CSS*/
@media (min-width: 1180px) {

    /*--------------------INDEX--------------------*/
    .articleImage {
        width: 200px;
        float: right;
        clear: both;
        position: relative;
        top: -120px;
    }

    .articleParagraph {
        width: 50%;
        word-spacing: .2rem;
    }

    #index-aside {
        background-color: #ffff66;
        width: 25em;
        padding: 50px;
        float: left;

        grid-area: asideTag;
    }

    video {
        width: 320px;
        height: 240px;
    }

    figure>figcaption {
        float: right;
        clear: both;
    }


    /*--------------------BEST DESTIONATIONS--------------------*/
    .product-image {
        width: 200px;
    }

    #best-aside {
        /* padding: 20px; */
        display: flex;
    }

    #product-1,
    #product-2,
    #product-3 {
        padding: 50px;
    }

    #product-1 {
        width: 40%;
    }

    #product-2 {
        width: 30%;
    }

    #product-3 {
        width: 30%;
    }

    #cookieStatement-best {
        background-color: #ff6600;
        position: fixed;
        right: 0;
        bottom: 0;
        width: 30%;
        color: #FFF;
        background-color: #FA0;
        opacity: 50%;
        z-index: 9999;


        grid-area: cookieTag;



    }



    /*--------------------TICKETS--------------------*/
    #cookieStatement-tickets {
        background-color: #ff6600;
        position: fixed;
        right: 0;
        bottom: 0;
        width: 30%;
        color: #FFF;
        background-color: #FA0;
        opacity: 50%;
        z-index: 9999;


        grid-area: cookieTag;

    }

    #grid-container-tickets {
        grid-template-rows: auto auto auto 80vh auto auto;
    }

    #tickets-aside {
        padding: 50px
    }

    #ticket-section {
        padding: 50px;
    }

}






/*TABLET*/
@media screen and (min-width: 481px) and (max-width: 1179px) {

    /*--------------------INDEX--------------------*/

    #grid-container {
        grid-template-areas:
            'headerTag  headerTag   headerTag'
            'navTag navTag  navTag'
            'asidetag   asideTag    asideTag'
            'videoTag   videoTag    videoTag'
            'sanfranciscoTag sanfranciscoTag  sanfranciscoTag'
            'losangelesTag losangelesTag  losangelesTag'
            'newyorkTag newyorkTag  newyorkTag'
            'footerTag  footerTag   cookieTag';
    }

    aside {
        width: 100vw;
    }

    .articleImage {
        width: 200px;
        float: left;
        clear: both;
        position: relative;
        top: -120px;
    }

    .articleParagraph {
        width: 50%;
        float: right;
    }

    video {
        width: 320px;
        height: 240px;
    }

    figure>figcaption {
        float: left;
        clear: both;
    }



    /*--------------------BEST DESTIONATIONS--------------------*/
    /*BEST-DESTIONATIONS GRID*/
    #grid-container-best-destination {
        width: 100%;
        display: grid;

        grid-template-columns: 50% 50%;

        grid-template-areas:
            'headerTag          headerTag'
            'navTag             navTag'
            'destination-1Tag   destination-2Tag'
            'destination-1Tag   destination-2Tag'
            'destination-3Tag   destination-2Tag'
            'destination-3Tag   destination-2Tag'
            'destination-3Tag   destination-5Tag'
            'destination-3Tag   destination-5Tag'
            'destination-6Tag   destination-6Tag'
            'destination-6Tag   destination-6Tag'
            'best-asideTag   best-aisdeTag'
            'footerTag   cookieTag'


        ;
    }

    #destination-4,
    #product-3 {
        display: none;
    }

    .product-image {
        width: 150px;
    }

    #best-aside {
        /* padding: 20px; */
        display: flex;
    }

    #product-1,
    #product-2 {
        padding: 20px;
    }

    #product-1 {
        width: 50%;
    }

    #product-2 {
        width: 50%;
    }

    #cookieStatement-best {
        background-color: #ff6600;
        position: fixed;
        right: 0;
        bottom: 0;
        width: 50%;
        color: #FFF;
        background-color: #FA0;
        opacity: 50%;
        z-index: 9999;
    }



}






/*MOBILE*/
@media screen and (max-width: 480px) {

    html,
    body {
        overflow-x: hidden;
    }

    body {
        position: relative
    }

    #logo {
        display: none;
    }


    /*INDEX*/

    #grid-container {
        grid-template-areas:
            'headerTag  headerTag   hamnavTag'
            'asidetag   asideTag    asideTag'
            'videoTag   videoTag    videoTag'
            'sanfranciscoTag sanfranciscoTag  sanfranciscoTag'
            'losangelesTag losangelesTag  losangelesTag'
            'newyorkTag newyorkTag  newyorkTag'
            'footerTag  footerTag   cookieTag';
    }

    video {
        display: none;
    }

    .articleImage {
        width: 200px;
        position: relative;
        margin: 50px;
    }

    .articleParagraph {
        width: 100%;
    }

    aside {
        width: 100%;
    }


    /*--------------------BEST DESTINATIONS--------------------*/

    /*BEST-DESTIONATIONS GRID*/

    #hamnav {
        grid-area: hamnavTag;
    }

    #destination-5 {
        grid-area: destination5Tag;
    }

    #destination-3 {
        grid-area: destination3Tag;
    }

    #destination-2 {
        grid-area: destination2Tag;
    }

    #destination-1 {
        grid-area: destination1Tag;
    }

    #product-1 {
        grid-area: product1Tag;
    }

    #grid-container-best-destination {

        grid-template-columns: 60% 40%;
        /* grid-template-rows: auto auto auto auto auto auto auto 10px; */

        grid-template-areas:
            'headerTag          hamnavTag'
            'destination5Tag   destination5Tag'
            'destination3Tag   destination3Tag'
            'destination2Tag   destination2Tag'
            'destination1Tag   destination1Tag'
            'best-asideTag   best-asideTag'
            'footerTag cookieTag'



        ;
    }

    .product-image {
        width: 150px;
    }

    #product-1,
    #product-2,
    #product-3 {
        padding: 20px;
    }

    #product-1 {
        width: 100%;
    }

    #product-2 {
        width: 100%;
    }

    #product-3 {
        width: 100%;
    }

    #destination-4,
    #destination-6 {
        display: none;
    }

    #cookieStatement-best {
        background-color: #ff6600;
        position: fixed;
        right: 0;
        bottom: 0;
        width: 40%;
        color: #FFF;
        background-color: #FA0;
        opacity: 50%;
        z-index: 9999;
    }


    /*--------------------TICKETS--------------------*/

}



#cookieStatement {
    background-color: #ff6600;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 30vw;
    color: #FFF;
    background-color: #FA0;
    opacity: 50%;
    z-index: 9999;


    grid-area: cookieTag;



}